{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ refer }}" class="m-3">Назад</a>
    <div class="container">
        <div id="alert">
        </div>
        <div class="row justify-content-center">
            <h3>Товар {{ product.name }}</h3>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col xl-6">
                <div class="card shadow">
                    <div class="card-body">
                        <label for="art">Артикул</label><input type="text" readonly value="{{ product.articul }}" class="form-control mt-3 mb-3" id="art">
                        <label for="name">Имя</label><input value="{{ product.name }}" type="text" id="name" class="form-control mt-3 mb-3">
                        <label for="quantity">Количество</label><input value="{{ product.quantity }}" type="text" id="quantity" class="form-control mt-3 mb-3">
                        <label for="price">Цена</label><input type="text" readonly value="{{ product.price }}" class="form-control mt-3 mb-3" id="price">
                        <button value="{{ product.id }}" class="btn btn-outline-secondary" id="update-btn" name="submit">Обновить</button>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card striped-with-hover shadow">
                    <div class="card-header text-center">
                        <h2>Информация о публикациях</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-bordered" id="mytable">
                            <thead>
                            <th>Площадка</th>
                            <th>Статус</th>
                            <th>Номер на площадке</th>
                            </thead>
                            <tbody>
                            <td>Allegro</td>
                            <td>{% if(product.allegroOffer != null) %}
                                    <select data-id="{{ product.id }}" class="form-control">
                                        <option value="0" {{  product.allegroOffer.status == 0 ? 'selected': '' }}>Не активен</option>
                                        <option value="1" {{  product.allegroOffer.status == 1 ? 'selected': '' }}>Активен</option>
                                    </select>
                                {% else %}
                                    Не выложен
                                {% endif %}
                            </td>
                            {% if(product.allegroOffer == null) %}
                                <td>Не выложен <a href="{{ path('createAllegroOffer', {'productId': product.id}) }}">(Выложить)</a></td>
                            {% else %}
                                <td>{{ product.allegroOffer.allegroId }}</td>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row m-2 justify-content-end">
                    <a href="{{ path('deleteProduct', {'productId': product.id}) }}"><button type="button" onclick="return confirm ('Точно хотите удалить этот товар?');" class="btn btn-outline-danger">Удалить этот товар со склада</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/myJs/cardItem.js') }}"></script>
{% endblock %}