{% extends 'base.html.twig' %}
{% block body %}
    <div class="container justify-content-center">
        <h3>Создание оффера Аллегро {{ product.name }} {{ product.auto ?? 'Авто не заполнено' }}</h3>
        {{ form_start(form, {'attr': {'class': 'w-100'}}) }}
        {{ form_row(form.deliveryMethod) }}
        <button class="btn btn-outline-success mt-3" type="submit">Создать</button>
        {{ form_end(form) }}
    </div>
{% endblock %}