{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/kitStyle.css') }}">
{% endblock %}
{% block body %}
    <a href="{{ path('products') }}" class="m-3">Назад</a>
        <div class="container">
            <div class="row m-0 justify-content-end">
                <button class="btn btn-outline-primary mt-3" id="add-button">Добавить</button>
            </div>
            <div class="row mt-2">
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body shadow">
                            <h3>Добавьте товары для объединения</h3>
                            <input type="text" class="form-control" id="search-select" placeholder="Поиск по имени">
                            <table class="table text-justify">
                                <thead>
                                <th>Выбрать</th>
                                <th>Название</th>
                                </thead>
                                <tbody id="table-body">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card">
                        <div class="card-body shadow">
                            <h3>Введите характеристики товара</h3>
                            <div class="form-inline">
                                <input class="form-control flex-column" id="article" type="text" placeholder="Введите артикул"><i id="gen-article" class="fas fa-redo ml-2"></i>
                            </div>
                            <input class="form-control mt-3" id="price" type="text" placeholder="Введите цену нового товара">
                            <textarea class="form-control mt-3" id="description" placeholder="Введите Описание"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="card w-100">
                    <div class="card-body text-center">
                        <h3>Добавление фотографий</h3>
                        <div class="container">
                            <div class="row text-center">
                                <input type="text" class="form-control" id="add-image" placeholder="Введите ссылку">
                            </div>
                            <div class="row" id="image-gallery">

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toast" style="position: absolute; top: 20px; right: 20px;">
            <div class="toast-header">
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body table-success">
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/myJs/kitProduct.js') }}"></script>
{% endblock %}
